/* src/App.css */
.App {
  font-family: 'Arial', sans-serif;
}

.content-wrapper {
  display: flex;
  align-items: flex-start;
  padding: 20px;
}

.content-wrapper .appointment-section {
  flex: 1;
}
